### Tuples:

* Tuple is like list
* Tuple is collection of items
* Tuple is a immutable => we can't update the data
* In tuple we can pass multiple data types of values
* Tuples can be create using ()

In [1]:
# create a tuple
a=(10,20,30,"hi",10.23,True,3+2j)
a

(10, 20, 30, 'hi', 10.23, True, (3+2j))

In [2]:
type(a)

tuple

In [3]:
for i in a:
    print(i,end=" ")

10 20 30 hi 10.23 True (3+2j)

In [4]:
a[2]

30

In [5]:
a[2:]

(30, 'hi', 10.23, True, (3+2j))

In [6]:
a[::-2]

((3+2j), 10.23, 30, 10)

In [7]:
a[1:5]

(20, 30, 'hi', 10.23)

In [10]:
# difference b/w list and tuple
l=[10,20,30]
l[2]=400
l


#tuple
t=(10,20,30)
t[2]=400
t

TypeError: 'tuple' object does not support item assignment

In [11]:
t=(1,2,3)
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
t=(1,1,1,2,2,3,4,5,6,7,1)
t.count(1)

4

In [15]:
t.index(2)

3

In [16]:
# print the index values of 2
# t=(1,1,1,2,2,3,4,5,6,7,1); output=> 3,4

In [17]:
t=(10,20,30,["hi",23,33])
t

(10, 20, 30, ['hi', 23, 33])

In [18]:
l=[10,20,30]
t=(100,200,300,l)
t

(100, 200, 300, [10, 20, 30])

In [19]:
t[3]

[10, 20, 30]

In [20]:
t[3][1]

20

In [21]:
t=(10,20,30,(100,200,300),40)
t

(10, 20, 30, (100, 200, 300), 40)

In [23]:
# type conversion
l=[10,20,30,40,50]
t=tuple(l)
t


t=(10,20,30,40)
l=list(t)
l

[10, 20, 30, 40]

### sets:
* set is a collection of items without duplicate data
* set is un-order data type(index is not possible in set)
* set is create by using {} with items

In [24]:
a={1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [25]:
type(a)

set

In [26]:
a={}
type(a)

dict

In [27]:
a={1,10,3,2,1,1,2,100,"hellowelcome","hello",True,2+3j}
a

{(2+3j), 1, 10, 100, 2, 3, 'hello', 'hellowelcome'}

In [29]:
a={1,2,3,100,10,"hellowelcometoeveryone",'hellowelcome'}
a

{1, 10, 100, 2, 3, 'hellowelcome', 'hellowelcometoeveryone'}

In [30]:
a=set()    #tuple(), list()
type(a)

set

In [31]:
a={10,20,30,[100,200,300]}
a

TypeError: unhashable type: 'list'

In [32]:
a=set([10,20,30])
a

{10, 20, 30}

In [33]:
a={10,20,30,40,50}
a[0]

TypeError: 'set' object is not subscriptable

In [34]:
for i in a:
    print(i,end=" ")

40 10 50 20 30

In [35]:
a=set()
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [61]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
#a.add(220)
#a.clear()
#del(a)
#a1=a.copy()
#a.difference_update(b)  # a-b
#a.discard(5)
#a.intersection(b)
#a.intersection_update(b)
#b.difference(a)

# a={1,2,3}
# b={4,5,6}
# a.isdisjoint(b)

a={1,2,3,4,5,6,7}
b={1,2,3}
#a.issuperset(b)
#a.issubset(b)
b.issubset(a)

True

In [63]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.pop()
a

{2, 3, 4, 5, 6, 7}

In [64]:
b={1,2,30,23,55,6,7}
b.remove(30)
b

{1, 2, 6, 7, 23, 55}

In [66]:
# difference b/w remove and discard
b={1,2,30,23,55,6,7}
#b.discard(100)        # it not return error if element not found in set
b.remove(100)          # it return error if element not found in set

KeyError: 100

In [67]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.symmetric_difference(b)

{3, 4, 5, 23, 30, 55}

In [68]:
a={1,2,3,4,5,6,7}
b={1,2,30,23,55,6,7}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 23, 30, 55}

In [69]:
s1={10,20,30}
s2={True,"hello",30}
s1.update(s2)

In [70]:
s1

{10, 20, 30, True, 'hello'}

### Task2:

* remove the duplicate elements in list withou using functions
* ex: [10,20,20,20,30,30,40,50] => [10,20,40,50]

### Task3:

* remove the string type of data from list
* ex: [10,20,'hello','welcome',30,40] => [10,20,30,40]

In [71]:
l=[10,20,20,20,30,30,40,50]
l1=[]
for i in l:           # 10,20,20,20,30,30,40,50
    if i not in l1:   # True
        l1.append(i)  # l1=[ 10,20,30,40,50]
l1

[10, 20, 30, 40, 50]

In [73]:
# using set remove the duplicate elements from list
l=[10,20,20,20,30,30,40,50]
s=list(set(l))
s

[40, 10, 50, 20, 30]

### Operations:

* arthametic operations
* assingment operations
* condtional operations/relational operations
* logical
* bitwise
* special operators; is is not; in not in

In [74]:
1+3

4

# Heading 1
## Heading 2
##### Heading 5


* list one
* list two
* list three
    * sublist one
    * sublist two
        * four
        * five
        
### order list
1. one
2. two


* please visit pace college [link](http://www.pace.ac.in/)


![showimg](https://lh3.googleusercontent.com/proxy/LIhXx-NZJ3Y8zy3UCdo_ykpn07VSVg-hrKSuK0QMukNoO5pH5gvE80YTJswpgU5rhFn7b5_kgbly-8S7nw8)



<html>
    <body>
        <p><b>pace college</b></p>
     </body>
</html>

| Syntax | Description |
| ----------- | ----------- |
| Header | Title |
| Paragraph | Text |