### Dictionaries:

* Dictionary have collection of items.
* It stores the data with key-value pair
* It can be declare or create using {} or dict function
* dictionary have unorder index positions

`
syntax:
    d={"keyname":"value"}
    
    => keyname : unique
    => value   : it may be unique 
`

In [1]:
d={"name":"rahul","age":"20","marks":"85"}
d

{'name': 'rahul', 'age': '20', 'marks': '85'}

In [2]:
d={"name":"rahul","age":24,"marks":89}
d

{'name': 'rahul', 'age': 24, 'marks': 89}

In [3]:
d={1:10,2:20,3:30}
d

{1: 10, 2: 20, 3: 30}

In [4]:
d={"name":"raju","age":25,"add":"hyderabad","marks":87}
d

{'name': 'raju', 'age': 25, 'add': 'hyderabad', 'marks': 87}

In [5]:
# add new key-value pair in existing dictionary
d['location']='ameerpet'
d

{'name': 'raju',
 'age': 25,
 'add': 'hyderabad',
 'marks': 87,
 'location': 'ameerpet'}

In [7]:
# access the data from dict
d['marks']
d.get('marks')

87

In [8]:
# get the key names
d.keys()

dict_keys(['name', 'age', 'add', 'marks', 'location'])

In [9]:
# get the values
d.values()

dict_values(['raju', 25, 'hyderabad', 87, 'ameerpet'])

In [10]:
# get the key value pairs
d.items()

dict_items([('name', 'raju'), ('age', 25), ('add', 'hyderabad'), ('marks', 87), ('location', 'ameerpet')])

In [12]:
# create a dictionary with list of tuples
d=dict([('name','raju'),('age',25),('add','hyd')])
d

{'name': 'raju', 'age': 25, 'add': 'hyd'}

In [13]:
# read the dictionary using for loop
for i in d.keys():
    print(i)

name
age
add

In [14]:
for i in d.values():
    print(i)

raju
25
hyd

In [17]:
for i,j in d.items():
    print(i,"-->",j)

name --> raju
age --> 25
add --> hyd

In [19]:
# Task:
# create a dictionary using lists
# l1=[1,2,3,4,5,6]
# l2=[10,20,30,40,50,60]
# output =>{1:10,2:20,3:30..6:60}

l1=[1,2,3,4,5,6]
l2=[10,20,30,40,50,60]

d={}                # create empty dictionary
for i,j in zip(l1,l2):
    #print(i)
    d[i]=j
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
l1=[1,2,3,4,5,6]
l2=[10,20,30,40,50,60]
d={}
for i in l1:           # 4
    for j in l2:       # 40
        d[i]=j         # {1:10,2:20,3:30,4:40}
        l2.remove(j)   # 50,60
        break
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [21]:
l1=[1,2,3,4,5,6]
l2=[10,20,30,40,50,60]
d=dict(zip(l1,l2))
d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [23]:
# update the dictionary 

d={"name":"raju","age":45,"add":"hyd","marks":78}
d['age']=25
d

{'name': 'raju', 'age': 25, 'add': 'hyd', 'marks': 78}

In [24]:
# read value from key
d['marks']

78

In [25]:
# read key name from value
d={"name":"raju","age":45,"add":"hyd","marks":78}
for i,j in d.items():
    if(j=='hyd'):
        print(i)

add

In [26]:
# dictionary methods
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [28]:
l=[1,2,3,4]
value=10
dd={}
dd.fromkeys(l,value)

{1: 10, 2: 10, 3: 10, 4: 10}

In [29]:
d={"name":"raju","age":45,"add":"hyd","marks":78}
d.pop('age')
d

{'name': 'raju', 'add': 'hyd', 'marks': 78}

In [30]:
d.popitem()
d

{'name': 'raju', 'add': 'hyd'}

In [33]:
d={"name":"raju","age":45,"add":"hyd","marks":78}
d.setdefault('location',34)
d

{'name': 'raju', 'age': 45, 'add': 'hyd', 'marks': 78, 'location': 34}

In [34]:
l1=[1,2,3]
l2=[10,20,30]
l1+l2

[1, 2, 3, 10, 20, 30]

In [37]:
d={"name":"lucky","age":25}
d1={"marks":67,"add":"hyd"}
d.update(d1)
d

{'name': 'lucky', 'age': 25, 'marks': 67, 'add': 'hyd'}

In [38]:
d1

{'marks': 67, 'add': 'hyd'}

In [39]:
# take the dictionary with dynamic
n=int(input("enter no.of items "))
d={}
for i in range(n):
    keys=input("enter key name ")
    values=input("enter value ")
    d[keys]=values
d

enter no.of items 4
enter key name name
enter value eswar
enter key name age
enter value 26
enter key name add
enter value hyd
enter key name marks
enter value 98

{'name': 'eswar', 'age': '26', 'add': 'hyd', 'marks': '98'}

In [41]:
# update the key name
d={"name":"raju","age":45,"add":"hyd","marks":78}
# newname="sname"
# oldname="name"
# d[newname]=d.pop(oldname)
# d


#another way
d={"name":"raju","age":45,"add":"hyd","marks":78}
d['sname']=d['name']
del d['name']
d

{'age': 45, 'add': 'hyd', 'marks': 78, 'sname': 'raju'}

In [43]:
# task
#l=[1,1,1,1,2,2,3,3,4,4,4,5,5,5]
#output=> {1:4,2:2,3:2,4:3,5:3}
l=[1,1,1,1,2,2,3,3,4,4,4,5,5,5]
d={}
# for i in l:
#     d[i]=l.count(i)
for i in l:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
d

{1: 4, 2: 2, 3: 2, 4: 3, 5: 3}

In [45]:
l=[1,1,1,1,2,2,3,3,4,4,4,5,5,5]
l.count(1)

4

In [47]:
s="www.google.com"
d={}
for i in s:
    if i in d.keys():
        d[i]+=1
    else:
        d[i]=1
d

{'w': 3, '.': 2, 'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}